body {
    background: linear-gradient(hsl(273, 75%, 66%) 0%, hsl(240, 73%, 65%) 100%);
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: #ffffff;
    border-radius: 20px;
    height: 550px;
    width: 950px;
    background-image: url("images/bg-pattern-desktop.svg");
    background-position-x: -560px;
    background-position-y: -280px;
    background-repeat: no-repeat;
    overflow: hidden;
}

.box-image {
    margin: 0px 0px -60px -90px;
    position: relative;
    z-index: 4;
    position: absolute;
}

.image {
    height: 380px;
    margin: 0px 0px 40px -90px;
}

.content {
    padding: 0px 120px 30px 0px;
    font-family: 'Kumbh Sans', 'sans-serif';
    width: 350px;
    height: 450px;
}

.title {
    color: hsl(238, 29%, 16%);
    font-size: 30px;
    font-weight: bolder;
    margin: 10px 0px 40px 0px;
}

.container-arrow {
    display: flex;
    justify-content: space-between;
}

.question {
    color: hsl(240, 6%, 50%);
    margin-bottom: 16px;
    font-size: 15px;
}

.question-selected {
    color: hsl(238, 29%, 16%);
    font-weight: bold;
}

.question:hover {
    color: hsl(14, 88%, 65%);
}

.arrow-down {
    height: 7px;
}

.answer {
    color: hsl(240, 1%, 63%);
    font-size: 12px;
    margin-bottom: 15px;
    display: none;
}

.divider {
    border-color:hsl(240, 5%, 91%);
    border-top: none;
    margin-bottom: 16px;
    border-left: none;
}

